1. Download and Install JDK 8 or above
2. Download and install Anaconda for python
3. Download and install Apache Spark
4. Configure Apache Spark

Reference : https://www.roseindia.net/bigdata/pyspark/install-pyspark-on-ubuntu.shtml